<!DOCTYPE html>
<html>
<head>
    <title>Admin View Courses</title>
</head>
<body>

<h1>Admin View Courses</h1>

{% for student in all_students %}
    <h3><li>{{ student.user.username }}</li></h3>
    {% if student.courses.all %}
        <ul>
            {% for course in student.courses.all %}
                <li>{{ course.name }}  [{{ course.num }}]</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ student.user.username }} is not registered for any courses.</p>
    {% endif %}
{% endfor %}
<a href="{% url 'index' %}">Return Home</a>

</body>
</html>
