<!DOCTYPE html>
<html>
<head>
    <title>Course Registration</title>
</head>
<body>

<h1>Available Courses</h1>

<ul>
    {% for course in courses %}
        {% if course.open %}
            <li>
                {{ course.name }} [{{ course.num }}] : {{ course.sem }}/{{ course.year }} - Quota: {{ course.quota }}
                {% if course not in registrations and  course.quota != 0%}
                    <form method="post" action="{% url 'register_course' course.id %}">
                        {% csrf_token %}
                        <button type="submit">Register</button>
                    </form>
                {% elif course not in registrations and  course.quota == 0 %}
                    <p>This course is already full.</p>
                {% else %}
                    <p>You are already registered for this course.</p>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<a href="{% url 'index' %}">Return Home</a>

</body>
</html>
