<!DOCTYPE html>
<html>
<head>
    <title>Course Registration</title>
</head>
<body>

<h1>Available Courses</h1>

<ul>
    {% for course in courses %}
        <li>
            {{ course.c_name }} - Quota: {{ course.quota }}
            {{ registrations }}
            {% if course not in registrations %}
                <form method="post" action="{% url 'register_course' course.id %}">
                    {% csrf_token %}
                    <button type="submit">Register</button>
                </form>
            {% endif %}

            {% if course.students.all %}
                <ul>
                    {% for student in course.students.all %}
                        <li>
                            {{ student.user.username }}
                            {% if student.user == user %}
                                <form method="post" action="{% url 'cancel_registration' course.id student.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Cancel Registration</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

</body>
</html>
