<!DOCTYPE html>
<html>
<head>
    <title>Course Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'course.css' %}">
</head>
<body>

<h1>Available Courses</h1>

<div class="login-container">
    <ul>
        {% for course in courses %}
            {% if course.open %}
                <h3>
                    {{ course.name }} [{{ course.num }}] : {{ course.sem }}/{{ course.year }} - Quota: {{ course.quota }}
                    {% if course not in registrations and course.quota != 0 %}
                        <a href="{% url 'register_course' course.id %}" class="register-button">
                            {% csrf_token %}
                            Register
                        </a>
                    {% else %}
                        <a class="cannot_r-button">
                            {% csrf_token %}
                            Register
                        </a>
                    {% endif %}
                </h3>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<a href="{% url 'index' %}" class="return-button">Return Home</a>

</body>
</html>
