<!DOCTYPE html>
<html>
<head>
    <title>My Registered Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'course.css' %}">
</head>
<body>

<h1>My Registered Courses</h1>

<div class="login-container">
    {% if registered_courses %}
        <ul>
            {% for course in registered_courses %}
                <h3>
                    {{ course.name }} [{{ course.num }}]
                    
                        {% for student in course.students.all %}
                            {% if student.user == user %}
                                
                                <a href="{% url 'cancel_registration' course.id student.id %}" class="cancel-button">
                                    {% csrf_token %}
                                    Cancel Registration
                                </a>
                                
                            {% endif %}
                        {% endfor %}
                    
                </h3>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not registered for any courses.</p>
    {% endif %}
</div>

<a href="{% url 'index' %}" class="return-button">Return Home</a>

</body>
</html>
