<!DOCTYPE html>
<html>
<head>
    <title>My Registered Courses</title>
</head>
<body>

<h1>My Registered Courses</h1>

{% if registered_courses %}
    <ul>
        {% for course in registered_courses %}
            <li>{{ course.name }}  [{{ course.num }}]</li>
            {% if course.students.all %}
                    <ul>
                        {% for student in course.students.all %}
                            <h3>
                                {% comment %} {{ student.user.username }} {% endcomment %}
                                {% if student.user == user %}
                                    <form method="post" action="{% url 'cancel_registration' course.id student.id %}">
                                        {% csrf_token %}
                                        <button type="submit">Cancel Registration</button>
                                    </form>
                                {% endif %}
                                </h3>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not registered for any courses.</p>
{% endif %}

<a href="{% url 'index' %}">Return Home</a>
</body>
</html>
